a[data-tooltip]:link, a[data-tooltip]:visited {
	position: relative;
	text-decoration: none;
}

/* CSS tooltip code used directly from http://www.impressivewebs.com/pure-css-tool-tips/,
    because it completely blew my mind as awesome. Seriously, go check it out. */
a[data-tooltip]:before {
	content: "";
	position: absolute;
	border-top: 20px solid #0090ff;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	visibility: hidden;
	top: -19px;
	left: -26px;
}

a[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	color: white;
	top: -35px;
	left: -26px;
	background: #0090ff;
	padding: 5px 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
	visibility: hidden;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
	visibility: visible;
	-moz-transition: visibility 0s linear .3s;
}
/* end copy */

body > div.container > div.center h1
{
    margin:0px;
}
body > div.container > div.center h2
{
    margin:0px;
    color:#877FB5;
    font-size:110%;
    border-bottom:1px solid #633F6B;
    padding-left:3px;
    width:440px;
    padding-right:60px;
    max-width:440px;
    white-space:nowrap;
    position:relative;
}
body > div.container > div.center h2 > span
{
    width:440px;
    max-width:440px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:inline-block;
}
body > div.container > div.center h2 > a.button
{
    text-decoration:none;
    position:absolute;
    bottom:-3px;
}
body > div.container > div.center h2 > a.button:nth-last-of-type(1)
{
    right:2px;
}
body > div.container > div.center h2 > a.button:nth-last-of-type(2)
{
    right:22px;
}
body > div.container > div.center h2 > a.button:nth-last-of-type(3)
{
    right:42px;
}
body > div.container > div.center hr
{
    color:#AA95BC;
    background-color:#AA95BC;
    height:1px;
    border:0px;
}
body > div.container > div.center > div.error
{
    cursor:pointer;
    color:black;
    background-color:#FE6543;
    border:1px solid #B7190E;
    font-weight:bold;
    margin-bottom:8px;
    text-align:center;
    padding:2px;
    border-radius:2px;
}
body > div.container > div.center > div.success
{
    cursor:pointer;
    color:black;
    background-color:#E0FFB3;
    border:1px solid #ACC487;
    font-weight:bold;
    margin-bottom:8px;
    text-align:center;
    padding:2px;
    border-radius:2px;
}
body > div.container > div.center > div.notice
{
    cursor:pointer;
    color:black;
    background-color:#FCEB6F;
    border:1px solid #FFCC25;
    font-weight:bold;
    margin-bottom:8px;
    text-align:center;
    padding:2px;
    border-radius:2px;
}
body > div.container > div.center > div.error:first-child, body > div.container > div.center > div.success:first-child,
    body > div.container > div.center > div.notice:first-child
{
    margin-top:8px;
}
body > div.container > div.center > div.error > span, body > div.container > div.center > div.success > span,
    body > div.container > div.center > div.notice > span
{
    display:block;
    font-size:70%;
    font-weight:normal;
}
body > div.container > div.center a, body > div.container > div.center a:visited
{
    text-decoration:none;
    color:#684673;    
}
body > div.container > div.center a:hover
{
    color:#877FB5;
}
body > div.container > div.center div.block
{
    text-align:center;
    font-size:90%;
}
body > div.container > div.center div.block.left
{
    text-align:left;
}
body > div.container > div.center  div.block.right
{
    text-align:right;
}
body > div.container > div.center  h2 ~ div.block
{
    margin-top:0px;
    margin-left:10px;
    margin-bottom:30px;
}
body > div.container > div.center div.block a, body > div.container > div.center div.block a:visited
{
    text-decoration:none;
    color:#93577B;
}
body > div.container > div.center div.block a:hover, body > div.container > div.center div.block a.current
{
    color:#3D1C37;
}
body > div.container > div.center div.block > span.unknownValue
{
	font-style:italic;
}
body > div.container > div.center ul
{
	margin:0px;
	padding:0px;
	list-style-type:square;
}
body > div.container > div.center ul > li
{
	margin-left:40px;
	font-size:90%;
}
body > div.container > div.center div.togetherBlock *
{
    vertical-align:top;
}
body > div.container > div.center div.togetherBlock sub
{
    vertical-align:sub;
}
body > div.container > div.center div.togetherBlock > div.togetherBlock
{
    display:inline-block;
}
body > div.container > div.center div.togetherBlock > div.togetherBlock > ul
{
    position:relative;
    top:2px;
}
body > div.container > div.center div.togetherBlock > div.togetherBlock ul > li
{
    margin-left:20px;
}
body > div.container > div.center form
{
    padding-left:15px;
    padding-right:15px;
}
body > div.container > div.center form label
{
    font-weight:bold;
    color:#49264E;
    width:150px;
    display:inline-block;
    max-width:150px;
    overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
    text-align:right;
}
body > div.container > div.center form input
{
    width:350px;
    max-width:350px;
}
body > div.container > div.center form div.textareaBlock *
{
    vertical-align:top;
}
body > div.container > div.center form select
{
    width:353px;
    max-width:353px;
}
body > div.container > div.center form textarea
{
    width:347px;
    max-width:347px;
    resize:vertical;
}
body > div.container > div.center form div.formBlock
{
    margin-left:155px;
    display:inline-block;
}
body > div.container > div.center form div.formBlock:empty
{
    display:none;
}
body > div.container > div.center form input[type="text"], body > div.container > div.center form input[type="password"],
    body > div.container > div.center form input[type="number"]
{
    background-color:#C9BACC;
    border:1px solid #6B4873;
    padding-left:5px;
    padding-right:5px;
    width:340px;
    max-width:340px;
}
body > div.container > div.center form input[type="checkbox"],
    body > div.container > div.center form input[type="radio"]
{
    width:auto;
    max-width:auto;
}
body > div.container > div.center form input[type="checkbox"] + label,
    body > div.container > div.center form input[type="radio"] + label
{
    font-weight:normal;
    color:#49264E;
    width:500px;
    display:inline-block;
    max-width:500px;
    overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
    text-align:left;
    position:relative;
    top:-2px;
}
body > div.container > div.center form > div.togetherBlock > div.togetherBlock > label
{
    width:300px;
    max-width:300px;
}
body > div.container > div.center form input[type="submit"]
{
    width:300px;
    max-width:300px;
    text-overflow:ellipsis;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
body > div.container > div.center form input.addButton
{
    width:75px;
    max-width:75px;
    display:inline-block;
    margin-left:10px;
}

body > div.container > div.center > form select.followed
{
    width:268px;
}

/* browse */
a.browseLetter
{
    display:inline-block;
    width:18px;
    min-width:18px;
    max-width:18px;
    overflow:hidden;
    background-color:#BDA9D9;
    border:1px solid #A985C7;
}
a.browseLetter.current
{
    border:1px solid black;
}
a.browseYear
{
    font-size:90%;
    display:inline-block;
    width:60px;
    min-width:60px;
    max-width:60px;
    overflow:hidden;
    background-color:#BDA9D9;
    border:1px solid #A985C7;
}
a.browseYear.current
{
    border:1px solid black;
}
span.browseDate
{
    font-style:italics;
}
span.browseDate:before
{
    content: "(";
}
span.browseDate:after
{
    content: ")";
}
a.browseLibrary
{
    font-size:90%;
    display:inline-block;
    width:70px;
    min-width:70px;
    overflow:hidden;
    background-color:#BDA9D9;
    border:1px solid #A985C7;
}
a.browseLibrary.current
{
    border:1px solid black;
}

/* Create meeting */
span.partnerLabel
{
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    width:355px;
    max-width:355px;
}
span.partnerLabel > span.remove
{
    background-image:url("remove.png");
    width:16px;
    height:16px;
    cursor:pointer;
    margin-right:5px;
    display:inline-block;
    position:relative;
    top:4px;
}

/* Member */
a.attendance
{
    display:block;
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:20px;
    margin-left:30px;
}
a.attendance.absent
{
    background-image: url("absent.png");
}
a.attendance.attended
{
    background-image: url("attended.png");
}
a.attendance.uncounted
{
    background-image: url("uncounted.png");
}
a.attendance span.date
{
    font-size:80%;
}
body > div.container > div.center > div.block.attendanceBreakdown
{
    margin-top:8px;
}
body > div.container > div.center > div.block.attendanceBreakdown > sub,
    body > div.container > div.center > div.block.attendanceBreakdown > sup
{
    height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}

body > div.container > div.center > div.block.attendanceBreakdown > sup
{
    bottom: 1ex;
}
body > div.container > div.center > div.block.attendanceBreakdown > sub
{
	top: 0.5ex;
}
ul.semesterRecords a.current
{
    font-weight:bold;
}
ul.semesterRecords span
{
    font-weight:80%;
    font-style:italic;
}

span.officeHoursAttended
{
    display:inline-block;
    padding-left:18px;
    background-repeat:no-repeat;
    background-position:1px 0px;
}
span.officeHoursAttended.yes
{
    color:#308014;
    background-image:url("attended.png");
}
span.officeHoursAttended.no
{
    color:red;
    background-image:url("absent.png");
}

/* library check-in */
body > div.container > div.center form > div.checkin > input[type="checkbox"]
{
    position:relative;
    top:2px;
}

/* library item profile */
body > div.container > div.center > div.block > div.buttons
{
    text-align:center;
    margin-top:8px;
}
body > div.container > div.center > div.block > div.buttons > .checkoutButton,
    body > div.container > div.center > div.block > div.buttons > .checkinButton
{
    display:inline-block;
    width:160px;
    max-width:160px;
    font-size:110%;
    text-align:left;
    border-radius:5px;
    border:2px solid #B6C9D6;
    background-color:#D5EAEB;
    color:black;
    padding-left:40px;
    max-height:32px;
    min-height:32px;
    height:32px;
    padding-top:10px;
    background-repeat:no-repeat;
    background-position:4px center;
    background-image:url("checkout.png");
    white-space:nowrap;
    text-overflow:ellipsis;
}
body > div.container > div.center > div.block > div.buttons > .checkinButton
{
    background-image:url("checkin.png");
}
body > div.container > div.center > div.block > div.buttons > a.checkoutButton,
    body > div.container > div.center > div.block > div.buttons > a.checkinButton
{
    color:black;
}
body > div.container > div.center > div.block > div.buttons > a.checkoutButton:hover,
    body > div.container > div.center > div.block > div.buttons > a.checkinButton:hover
{
    background-color:#F7FDFA;
}
body > div.container > div.center > div.block > div.buttons > div.checkinButton,
    body > div.container > div.center > div.block > div.buttons > div.checkoutButton
{
    cursor:default;
    border-color:#E8E8E8;
    background-color:#F6F6F6;
    color:#333333;
}

/* meeting */
body > div.container > div.center > h2 ~ ul.meetingAttendees
{
    margin-bottom:30px;
}
body > div.container > div.center > div.feedback
{
    margin-left:20px;
    font-size:90%;
    position:relative;
    width:480px;
    max-width:480px;
}
body > div.container > div.center > div.feedback > div.agreeButton
{
    position:absolute;
    width:24px;
    height:24px;
    background-image:url("agree.png");
    cursor:pointer;
    right:0px;
    top:8px;
}
body > div.container > div.center > div.feedback > div.disagreeButton
{
    position:absolute;
    width:24px;
    height:24px;
    background-image:url("disagree.png");
    cursor:pointer;
    right:0px;
    top:36px;
}
body > div.container > div.center > div.feedback > span.label
{
    display:inline-block;
    width:90px;
    text-align:right;
    font-weight:bold;
    margin-right:10px;
    overflow:hidden;
}
body > div.container > div.center > div.feedback > div.comment
{
    font-style:italic;
    margin-left:40px;
    width:400px;
    margin-top:5px;
    text-align:center;
    font-size:110%;
    margin-bottom:20px;
}
body > div.container > div.center > div.feedback > div.comment:before
{
	content: "\201C";
}
body > div.container > div.center > div.feedback > div.comment:after
{
	content: "\201D";
}

/* office hours */
body > div.container > div.center table.officeHoursChart
{
    border-collapse:collapse;
    width:100%;
}
body > div.container > div.center table.officeHoursChart *
{
    vertical-align:middle;
    text-align:center;
}
body > div.container > div.center table.officeHoursChart th
{
    height:60px;
    min-height:60px;
    max-height:60px;
    overflow:hidden;
    width:16.667%;
    min-width:16.667%;
    max-width:16.667%;
    background-color:#D5D2E3;
    color:#0A0C19;
    border:1px solid #7E718F;
}
body > div.container > div.center table.officeHoursChart td:not(.empty)
{
    background-color:#FFFFFF;
    color:#565E71;
    border:1px solid #D5D2E3;
}
body > div.container > div.center table.officeHoursChart td > a
{
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:103px;
    width:103px;
    font-size:80%;
}
body > div.container > div.center table.officeHoursChart td:not(.empty):empty:before
{
    content: "—";
}