#kiosk:-webkit-full-screen	{ width: 100%; height:100%; }
#kiosk:-moz-full-screen		{ width: 100%; height:100%; }
#kiosk:-ms-full-screen		{ width: 100%; height:100%; }
#kiosk:-o-full-screen		{ width: 100%; height:100%; }
#kiosk:full-screen			{ width: 100%; height:100%; }
#kiosk
{
    height:100%;
}