body
{
	background-color:#E3C9E5;
	margin:0px;
	font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
	font-size:90%;
}

body > div.container
{
	margin-left:auto;
	margin-right:auto;
    margin-top:5px;
	width:550px;
	background-color:#E2CEF0;
	border:1px solid #AB9DB4;
	position:relative;
}

body > div.container:after
{
    content:".";
    display:block;
    height:10px;
    clear:both;
    visibility:hidden;
}

body > div.container > div.center
{
    margin-left:5px;
    margin-right:5px;
}

body > div.container > div.center > form select.followed
{
    width:264px;
}