/* User Panel */
body > div.container > div.sidebar.right > div.block.user
{
	background-color:#D5EAEB;
	border-color:#95b1c4;
}
body > div.container > div.sidebar.right > div.block.user > h1
{
	background-color:#95b1c4;
	color:#454545;
}
body > div.container > div.sidebar.right > div.block.user > a, body > div.container > div.sidebar.right > div.block.user > a:visited
{
	color:#454545;
}
body > div.container > div.sidebar.right > div.block.user > a:hover
{
	color:#656B5B;
}

/* Rainbow Office */
body > div.container > div.sidebar.right > div.block > div.status
{
    margin-bottom:2px;
	text-align:center;
	font-weight:bold;
}
body > div.container > div.sidebar.right > div.block > div.status > span
{
	text-decoration:underline;
}
body > div.container > div.sidebar.right > div.block > div.status.open > span
{
	color:green;
}
body > div.container > div.sidebar.right > div.block > div.status.closed > span
{
	color:red;
}
body > div.container > div.sidebar.right > div.block > div.label
{
	margin-top:6px;
	margin-left:5px;
    font-size:90%;
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance
{
	margin:0px;
	padding:0px;
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li
{
	margin-left:20px;
	font-size:90%;
    list-style-type:none;
    background-repeat:no-repeat;
    padding-left:20px;
    background-position:0px 1px;
    position:relative;
    top:-1px;
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.attended
{
    background-image:url("attended.png");
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.absent
{
    background-image:url("absent.png");
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li > a
{
    text-decoration:none;
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.attended > a,
    body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.attended > a:visited
 {
    color:#308014;
}
body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.absent > a,
    body > div.container > div.sidebar.right > div.block > ul.officeHoursAttendance > li.absent > a:visited
 {
    color:red;
}
body > div.container > div.sidebar.right > div.block > a.signinButton
{
	display:block;
	background-image:url("signIn.png");
	background-repeat:no-repeat;
	background-position:left middle;
	border-radius:4px;
	border:1px solid #719242;
	background-color:#B1F452;
	padding-left:48px;
	padding-top:2px;
	margin-top:8px;
	margin-bottom:8px;
	min-height:48px;
	color:black;
	font-size:90%;
}
body > div.container > div.sidebar.right > div.block > a.signinButton:before
{
	content: none;
}
body > div.container > div.sidebar.right > div.block > a.signinButton:hover
{
	background-color:#ACD76F;
	font-weight:normal;
}
body > div.container > div.sidebar.right > div.block > a.signinButton > span
{
	font-weight:bold;
	display:block;
}

/* Calendar */
body > div.container > div.sidebar.right > div.block > table.calendar
{
	width:100%;
}
body > div.container > div.sidebar.right > div.block > table.calendar td,
	body > div.container > div.sidebar.right > div.block > table.calendar th
{
	border:1px solid #A985C7;
}
body > div.container > div.sidebar.right > div.block > table.calendar td
{
	width:14.2857%;
	max-width:14.2857%;
	background-color:#BDA9D9;
	border:1px solid #A985C7;
	font-size:80%;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
}
body > div.container > div.sidebar.right > div.block > table.calendar td.empty
{
	background-color:#D5BEED;
	border:0px;
}
body > div.container > div.sidebar.right > div.block > table.calendar td.today
{
	background-color:#877FB5;
}