﻿body
{
	background-color:#E3C9E5;
	margin:0px;
	font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
	font-size:90%;
    overflow-y:scroll;
}

body > div.rainbowdash
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height:150px;
	max-height:150px;
	overflow:hidden;
	position:relative;
}
body > div.rainbowdash > a > img
{
	max-width:200px;
}
body > div.rainbowdash.left > a > img
{
	float:left;
}
body > div.rainbowdash.right > a > img
{
	float:right;
}

body > div.rainbowdash > div.speech
{
	width:400px;
	max-width:400px;
	background-color:#AA95BC;
	border:2px solid #49264E;
	border-radius:10px;
	padding:6px;
	font-variant:small-caps;
	color:black;
	font-size:120%;
	position:absolute;
	top:10px;
    min-height:40px;
}
body > div.rainbowdash.left > div.speech
{
	border-bottom-left-radius:0px;
}
body > div.rainbowdash.right > div.speech
{
	border-bottom-right-radius:0px;
}
body > div.rainbowdash > div.speech:after
{
	position:absolute;
	bottom:6px;
	content: " ";
	width:20px;
	height:36px;
	background-image:url('quote-arrow.png');
	background-repeat:no-repeat;
}
body > div.rainbowdash.left > div.speech:after
{
	left:-20px;
}
body > div.rainbowdash.right > div.speech:after
{
	right:-19px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
body > div.rainbowdash.left > div.speech
{
	left:210px;
}
body > div.rainbowdash.right > div.speech
{
	right:210px;
}
body > div.rainbowdash > div.speech > span:before
{
	content: "\201C";
}
body > div.rainbowdash > div.speech > span:after
{
	content: "\201D";
}

body > div.container
{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background-color:#E2CEF0;
	border:1px solid #AB9DB4;
	position:relative;
}

body > div.container:after
{
    content:".";
    display:block;
    height:10px;
    clear:both;
    visibility:hidden;
}

body > div.container > div.topbar
{
	width:1050px;
	background:#EDD5FB url('topbar.png') repeat-y;
	position:relative;
	left:-125px;
	top:-1px;
	border-bottom:1px solid #CBAFDD;
	border-top:1px solid #CBAFDD;
	text-align:center;
	font-variant:small-caps;
	font-size:150%;
}
body > div.container > div.topbar > a, body > div.container > div.topbar a:visited
{
	text-decoration:none;
	color:black;
}
body > div.container > div.topbar > a:hover
{
	color:#633F6B;
}
body > div.container > div.topbar > a:hover:before
{
	content: "\00AB  ";
}
body > div.container > div.topbar > a:hover:after
{
	content: "  \00BB";
}

body > div.container > div.sidebar
{
	width:175px;
	position:relative;
}

body > div.container > div.sidebar.left
{
	margin-left:-100px;
	float:left;
}

body > div.container > div.sidebar.right
{
	margin-right:-100px;
	float:right;
}

body > div.container > div.sidebar > div.block
{
	background-color:#DFCDF7;
	border:1px solid #AA95BC;
	margin-top:8px;
}

body > div.container > div.sidebar > div.block > h1
{
	margin:0px;
	font-size:100%;
	background-color:#AA95BC;
	color:#DFCDF7;
	padding:0px 4px 3px 4px;
	text-align:center;
    width:165px;
    max-width:165px;
    overflow:hidden;
    white-space:nowrap;
}
body > div.container > div.sidebar > div.block > h1 > span
{
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:140px;
}

body > div.container > div.sidebar > div.block > h1:before
{
	content: "\25CA  ";
}
body > div.container > div.sidebar > div.block > h1:after
{
	content: "  \25CA";
}

body > div.container > div.sidebar > div.block > a
{
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-decoration:none;
	margin-left:5px;
	margin-right:5px;
	color:#633F6B;
}
body > div.container > div.sidebar > div.block > a:before
{
	content: "\25B7  ";
}
body > div.container > div.sidebar > div.block > a:hover
{
	color:#93577B;
	font-weight:bold;
}
body > div.container > div.sidebar > div.block > a:hover:before
{
	content: "\25B6  ";
}
body > div.container > div.sidebar > div.block > a.current
{
    font-weight:bold;
}

body > div.container > div.center
{
	margin-left:80px;
	margin-right:80px;
}


body > div.container > div.center > div.breadcrumbs
{
    background-color:#BDA9D9;
    padding:2px;
    font-size:80%;
    margin:8px 2px 8px 2px;
    position:relative;
    max-height:16px;
    height:16px;
    overflow:hidden;
}
body > div.container > div.center > div.breadcrumbs > a, body > div.container > div.center > div.breadcrumbs > a:visited
{
    text-decoration:none;
    color:#684673;
}
body > div.container > div.center > div.breadcrumbs > a:hover
{
    color:#A985C7;
}
body > div.container > div.center > div.breadcrumbs > a:last-child
{
    color:black;
    font-weight:bold;
}

body > div.footer
{
    font-size:70%;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    width:800px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}
body > div.footer > a, body > div.footer > a:visited
{
    text-decoration:none;
    color:#877FB5;
}
body > div.footer > a:hover
{
    color:#A985C7;
    text-decoration:underline;
}